* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;

  background: linear-gradient(45deg, #ffaf00, #bb02ff);
}

.container {
  position: relative;

  display: flex;
}

.card + .card {
  margin-left: 2em;
}

.card {
  position: relative;

  border-radius: 1.5em;

  height: 420px;
  width: 300px;

  overflow: hidden;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  background-color: #fff;

  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.circle {
  position: relative;
  height: 100%;
  width: 100%;
  background: #000;

  clip-path: circle(180px at center 0);
}

h1 {
  text-transform: uppercase;
  color: #fff;

  padding: 50px;
}

.context {
  bottom: 1em;
  position: absolute;
  padding: 20px;
}

p {
  padding: 0.5em;

  color: #666;
}

a {
  display: block;
  margin: 0.5em auto;
  text-transform: capitalize;
  text-decoration: none;

  color: #fff;
  background: black;

  padding: 1em;
  border-radius: 2em;
  max-width: 9rem;
}

.card:nth-child(1) .circle,
.card:nth-child(1) .context a {
  background: #ffaf00;
}
.card:nth-child(2) .circle,
.card:nth-child(2) .context a {
  background: #da2268;
}
.card:nth-child(3) .circle,
.card:nth-child(3) .context a {
  background: #bb02ff;
}

.container:hover .card {
  filter: blur(20px);
  transform: scale(0.9);
  opacity: 0.5;
}

.container .card:hover {
  filter: blur(0px);
  transform: scale(1.1);
  opacity: 1;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;

    padding: 1em;
  }

  .card + .card {
    margin-left: unset;
  }

  .card {
    margin: 2em auto;
  }
}
